# .env.example
RESEND_API_KEY=
# Cloudflare Turnstile (Captcha)
VITE_CLOUDFLARE_TURNSTILE_SITE_KEY=0x4AAAAAAC_bMoaIUWmn54Wj
CLOUDFLARE_TURNSTILE_SECRET_KEY=0x4AAAAAAC_bMjdxOF0heoEKSApYVqf_fu4
TELEGRAM_BOT_TOKEN=8691724835:AAH_mhOtbNj-wwJCeuVLsTSzVLd9rsfjhx4
TELEGRAM_CHANNEL_ID=@animem_uz1
