rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isAdmin() {
      // Just check if logged in and matches email directly.
      return request.auth != null && 
             (request.auth.token.email == "mosinjonovjasurbek00@gmail.com" ||
              request.auth.token.email.lower() == "mosinjonovjasurbek00@gmail.com");
    }

    match /wallpapers/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /ads/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /posters/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /episodes/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /avatars/{fileName} {
      allow read: if true;
      allow write: if request.auth != null && request.resource.size < 5 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
  }
}
